{% extends 'accounts/container/layout.html' %}
{% load static %}

{% block content %}
	<div>
		<div class="text-center">
			<h3>비밀번호 찾기</h3>
			<p>
				<small>아이디를 입력해주세요.</small>
				<br>
				<small>등록하신 메일로 인증번호가 발송됩니다.</small>
			</p>
		</div>

		<form id="password-find-form" method="POST">
			<div class="form-group row mb-3">
				<label for="id_username" class="col-4 col-form-label fw-bolder">
					{{ form.username.label }}
				</label>
				<div class="col-8">
					{{ form.username }}
					<div class="invalid-feedback d-block">
						{{ form.username.errors }}
					</div>
					{% if form.username.help_text %}
						<small class="form-text text-muted">
							{{ form.username.help_text }}
						</small>
					{% endif %}
				</div>
			</div>
			
			<input type="submit"
				id="password-find-btn"
				value="비밀번호 찾기">
		</form>

		<div id="auth_num_form_block" class="input-form"></div>
	</div>
{% endblock %}

{% block script %}
	<script>
		const email_auth_url = '{{ email_auth_url }}';
		const auth_confirm_url = '{{ auth_confirm_url }}';
	</script>
	<script src="//unpkg.com/axios/dist/axios.min.js"></script>
	<script src="{% static 'accounts/js/password_find.js' %}"></script>
{% endblock %}