{% extends 'accounts/container/layout.html' %}
{% load static %}

{% block content %}
	<form action="" method="post">
		{% csrf_token %}
		{% if form.errors %}
			{% for error in form.non_field_errors %}
				<div class="invalid-feedback text-center pb-3 d-block">
					{{ error }}
				</div>
			{% endfor %}
		{% endif %}

		<div class="row mb-3">
			<label for="id_old_password" class="col-4 col-form-label fw-bolder">
				{{ form.old_password.label }}
			</label>
			<div class="col-8">
				{{ form.old_password }}
				<div class="invalid-feedback d-block">
					{{ form.old_password.errors }}
				</div>
			</div>
		</div>

		<div class="row mb-3">
			<label for="id_new_password1" class="col-4 col-form-label fw-bolder">
				{{ form.new_password1.label }}
			</label>
			<div class="col-8">
				{{ form.new_password1 }}
				<div class="invalid-feedback d-block">
					{{ form.new_password1.errors }}
				</div>
				<small class="form-text text-muted">
					{{ form.new_password1.help_text }}
				</small>
			</div>
		</div>
		
		<div class="row mb-3">
			<label for="id_new_password2" class="col-4 col-form-label fw-bolder">
				{{ form.new_password2.label }}
			</label>
			<div class="col-8">
				{{ form.new_password2 }}
				<div class="invalid-feedback d-block">
					{{ form.new_password2.errors }}
				</div>
			</div>
		</div>

		<div class="d-grid mt-5 pt-5 border-top">
			<input type="submit" value="비밀번호 변경" disabled="disabled" id="change-password-btn">
		</div>
	</form>
{% endblock %}

{% block script %}
	<script src="{% static 'accounts/js/password_change.js' %}"></script>
{% endblock %}