asgiref==3.5.2 
django==4.1.2 
django-debug-toolbar==3.7.0
django-extensions==3.2.1
djangorestframework==3.14.0
django-seed==0.3.1
et-xmlfile==1.1.0 
Faker==15.1.1
iamport-rest-client==0.9.0
idna==3.4
openpyxl==3.0.10
Pillow==9.2.0
psycopg2-binary==2.9.5
python-dateutil==2.8.2 
sqlparse==0.4.3
six==1.16.0
toposort==1.7