{% load static %}

{% include "django/forms/widgets/input.html" %}

<style>
    .option-badge {
        display: inline-flex;
        padding: 0.35em 0.65em;
        line-height: 1;
        color: #fff;
        text-align: center;
        align-self: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
        background-color: #264b5d;
    }

    .option-badge-text {
        align-self: center;
        margin-right: 5px;
    }
</style>

<div class="inline-group">
    <fieldset class="module ">
        <h2>옵션 추가하기</h2>

        <div class="options-input-block">
        </div>

        <div class="add-row">
            <a href="#" id="add-option">옵션 추가하기</a>
        </div>

        <div class="submit-row" style="margin: 20px 0 0 !important;">
            <input type="button" value="모든 옵션 품목 추가" id="add-all-option-btn" class="default">
        </div>
    </fieldset>
</div>

<script>document.querySelector('.field-options label').remove();</script>
<script src="{% static 'shop/js/options_widget.js' %}"></script>