{% extends 'shop/container/layout.html' %}
{% load humanize %}
{% load static %}

{% block content %}
	<div id="item-list">
		<div class="item" data-item-id="{{ item.id }}">
			<p>상품명: {{ item.name }}</p>
			{% if item.sale_amount %}
				<p style="text-decoration: line-through;">
					정가: {{ item.amount|intcomma }}원
				</p>
				<p>판매가: {{ item.sale_amount|intcomma }}원</p>
			{% else %}
				<p>판매가: {{ item.amount|intcomma }}원</p>
			{% endif %}
			<p>상품 설명: {{ item.description }}</p>
		</div>
	</div>

		
	<div id="select_options_block">
		{% for key, values in item.get_options.items %}
			<span>{{ key }}: </span>
			{% if item.is_one_item_real %}
				<select id="select_option_box_{{ forloop.counter }}" class="select_option_box">
					{% for value in values %}
						<option value="{{ value }}">{{ value }}</option>
					{% endfor %}
				</select>
			{% else %}
				<select id="select_option_box_{{ forloop.counter }}" class="select_option_box">
					<option value="">옵션을 선택해주세요.</option>
					{% if forloop.counter == 1 %}
						{% for value in values %}
							<option value="{{ value }}">{{ value }}</option>
						{% endfor %}
					{% endif %}
				</select>
			{% endif %}
		{% endfor %}
	</div>

	<div id="item_real_block" class="border">		
		{% for item_real in item.itemreal_item.all %}
			<div id="item_real_{{ item_real.pk }}" 
				class="item_real {% if not item.is_one_item_real %}d-none{% endif %}">
				<div class="d-inline-block">
					<p class="m-0">{{ item.name }}</p>
	
					{% if item.name != item_real.name %}
						<small class="item_real_name_block">
							<span class="item_real_name" 
								data-id="{{ item_real.pk }}">
								{{ item_real.name }}
							</span>

							{% if item_real.is_extra_amount %}
								<span>(+{{ item_real.extra_amount|intcomma }}원)</span>
							{% endif %}
						</small>
					{% endif %}
				</div>
				<div class="d-inline-block">
					<button class="factor-btn" data-factor="-1" data-id="{{ item_real.pk }}"
						value="{{ item_real.get_amount }}">-</button>
						<span class="quantity">1</span>
					<button class="factor-btn" data-factor="1" data-id="{{ item_real.pk }}"
						value="{{ item_real.get_amount }}">+</button>
				</div>
				<div class="d-inline-block">
					<p>
						<span id="total-amount-{{ item_real.pk }}" value="{{ item_real.get_amount }}">
							{{ item_real.get_amount|intcomma }}
						</span>
						<span>원</span>
					</p>
				</div>
			</div>
		{% endfor %}
	</div>

	<br>

	<div value="{{ itme.id }}">
		<p>총 결제금액</p>
		<!-- <p>
			<span id="total-amount" value="{{ item.total_amount }}">
				{% if item.sale_amount %}
					{{ item.sale_amount|intcomma }}
				{% else %}
					{{ item.amount|intcomma }}
				{% endif %}
			</span>
			<span >원</span>
		</p> -->
	</div>

	<button id="add-cart" data-item-id="{{ item.id }}">add to cart</button>

	{% if user.is_authenticated %}
		<form method="post" enctype="multipart/form-data" id="review-form">
			<input type="number" name="rating" min="1" max="5" required>
			<textarea name="review" rows="1" required></textarea>
			<input type="file" name="images" multiple>
			<input type="submit">
		</form>
	{% endif %}

	<div id="review-block"></div>
	<button id="review-more" class="d-none">more</button>
{% endblock %}

{% block script %}
	{{ item.get_options|json_script:"options-object-js"}}    
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.10.2/underscore-min.js"></script>
	<script src="//unpkg.com/axios/dist/axios.min.js"></script>
	<script src="{% static 'shop/js/review.js' %}" id="review-js" review-url="{{ review_url }}"></script>
	<script src="{% static 'order/js/comma_mixin.js' %}"></script>
	<script src="{% static 'cart/js/cart.js' %}" id="cart-js" 
		add-cart-url="{% url 'cart:add_cart' %}" cart-list-url="{% url 'cart:cart_list' %}"></script>
	<script src="{% static 'order/js/quantity_select.js' %}"></script>
	<script src="{% static 'shop/js/options.js' %}"></script>
	<script>
		const quantitySelecter = new QuantitySelecter(document.querySelectorAll('.factor-btn'));
		const cart = new Cart();
		const option = new Option();

		option.selectOptions();

		quantitySelecter.quantity_select();
		document.getElementById('add-cart').addEventListener('click', e => cart.add_cart(
			e.currentTarget.getAttribute('data-item-id'),
			document.querySelector('.quantity').innerText
		));
	</script>
{% endblock %}