{% extends 'shop/container/layout.html' %}
{% load humanize %}
{% load static %}

{% block content %}
	<div id="item-list">
		<div class="item" data-item-id="{{ item.id }}">
			<p>상품명: {{ item.name }}</p>
			{% if item.sale_amount %}
				<p style="text-decoration: line-through;">
					정가: {{ item.amount|intcomma }}원
				</p>
				<p>판매가: {{ item.sale_amount|intcomma }}원</p>
			{% else %}
				<p>판매가: {{ item.amount|intcomma }}원</p>
			{% endif %}
			<p>상품 설명: {{ item.description }}</p>
		</div>
	</div>

	<div class="quantity-block">
		<p id="remaining-quantity" class="d-none">{{ item.stock }}</p>
		<div class="col-5 text-left pr-0">수량 선택</div>
		<div>
			<button class="factor-btn" data-factor="-1" data-id="{{ item.pk }}"
				value="{% if item.sale_amount %}{{ item.sale_amount }}{% else %}{{ item.amount }}{% endif %}">-</button>
				<span class="quantity">1</span>
			<button class="factor-btn" data-factor="1" data-id="{{ item.pk }}"
				value="{% if item.sale_amount %}{{ item.sale_amount }}{% else %}{{ item.amount }}{% endif %}">+</button>
		</div>
	</div>

	<br>

	<div value="{{ itme.id }}">
		<p>총 결제금액</p>
		<p>
			<span class="total-amount" value="{{ item.total_amount }}">
				{% if item.sale_amount %}
					{{ item.sale_amount|intcomma }}
				{% else %}
					{{ item.amount|intcomma }}
				{% endif %}
			</span>
			<span >원</span>
		</p>
	</div>

	<button id="add-cart" data-item-id="{{ item.id }}">add to cart</button>

	<a id="order-new" href="{% url 'order:order_pay' %}">order</a>

	{% if user.is_authenticated %}
		<form method="post" enctype="multipart/form-data" id="review-form">
			<input type="number" name="rating" min="1" max="5" required>
			<textarea name="review" rows="1" required></textarea>
			<input type="file" name="images" multiple>
			<input type="submit">
		</form>
	{% endif %}

	<div id="review-block"></div>
	<button id="review-more" class="d-none">more</button>
{% endblock %}

{% block script %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.10.2/underscore-min.js"></script>
	<script src="//unpkg.com/axios/dist/axios.min.js"></script>
	<script src="{% static 'shop/js/review.js' %}" id="review-js" review-url="{{ review_url }}"></script>
	<script src="{% static 'order/js/order_new.js' %}"></script>
	<script src="{% static 'order/js/comma_mixin.js' %}"></script>
	<script src="{% static 'cart/js/cart.js' %}" id="cart-js" 
		add-cart-url="{% url 'cart:add_cart' %}" cart-list-url="{% url 'cart:cart_list' %}"></script>
	<script src="{% static 'order/js/quantity_select.js' %}"></script>
	<script>
		const quantitySelecter = new QuantitySelecter(document.querySelectorAll('.factor-btn'));
		const cart = new Cart();

		quantitySelecter.quantity_select();
		document.getElementById('add-cart').addEventListener('click', e => cart.add_cart(
			cart,
			e.currentTarget.getAttribute('data-item-id'),
			document.querySelector('.quantity').innerText
		));
	</script>
{% endblock %}