{% extends 'shop/container/layout.html' %}
{% load humanize %}
{% load static %}

{% block content %}
	<div id="item-list">
		<div class="item" data-item-id="{{ item.id }}">
			<p>상품명: {{ item.name }}</p>
			{% if item.sale_amount %}
				<p style="text-decoration: line-through;">
					정가: {{ item.amount|intcomma }}원
				</p>
				<p>판매가: {{ item.sale_amount|intcomma }}원</p>
			{% else %}
				<p>판매가: {{ item.amount|intcomma }}원</p>
			{% endif %}
			<p>상품 설명: {{ item.description }}</p>
		</div>
	</div>

	<a id="order-new" href="{% url 'order:order_pay' %}">order</a>

	{% if user.is_authenticated %}
		<form method="post" enctype="multipart/form-data" id="review-form">
			<input type="number" name="rating" min="1" max="5" required>
			<textarea name="review" rows="1" required></textarea>
			<input type="file" name="images" multiple>
			<input type="submit">
		</form>
	{% endif %}

	<div id="review-block"></div>
	<button id="review-more" class="d-none">more</button>
{% endblock %}

{% block script %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.10.2/underscore-min.js"></script>
	<script src="//unpkg.com/axios/dist/axios.min.js"></script>
	<script>const reviewURL = '{{ review_url }}';</script>
	<script src="{% static 'shop/js/review.js' %}"></script>
	<script src="{% static 'order/js/order_new.js' %}"></script>
{% endblock %}