{% extends 'cart/container/layout.html' %}
{% load humanize %}
{% load static %}

{% block content %}
    <h3>장바구니</h3>

    <hr>

    {% if cart_list %}
        <table class="table">
            {% for item in cart_list %}
                <tbody>
                    <tr>
                        <td>
                            <img src="{{ item.item.image }}" alt="">
                        </td>
                        <td>
                            <p>{{ item.item.name }}</p>
                        </td>
                        {% if item.item.is_public == True %}
                            <td>
                                {{ item.item.amount|intcomma }} 원
                            </td>
                            <td>
                                <button class="factor-btn" data-factor="-1" data-id="{{ item.item.pk }}"
                                    value="{% if item.item.sale_amount %}{{ item.item.sale_amount }}{% else %}{{ item.item.amount }}{% endif %}">-</button>
                                    <span class="quantity">{{ item.quantity }}</span>
                                <button class="factor-btn" data-factor="1" data-id="{{ item.item.pk }}"
                                    value="{% if item.item.sale_amount %}{{ item.item.sale_amount }}{% else %}{{ item.item.amount }}{% endif %}">+</button>
                            </td>
                            <td>
                                <span class="total-amount" value="{{ item.item.total_amount }}">
                                    {{ item.item.total_amount|intcomma }}
                                </span>
                                <span>원</span>
                            </td>
                        {% else %}
                            <td colspan="3">SOLD OUT</td>
                        {% endif %}
                        <td>
                            <a href="#" value="{{ item.item.pk  }}">주문하기</a>
                            <a href="#">삭제</a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>

        <div>
            <h3>합계 : </h3>
            <h3>
                <span id="cart-total" value="{{ cart_list.get_item_total }}">
                    {{ cart_list.get_item_total|intcomma }}
                </span>
                원
            </h3>
            <button class="d-none" id="select-item-order-btn">선택상품 주문하기</button>
            <button id="order-all-btn">주문하기</button>
        </div>
    {% else %}
        <p>장바구니에 담긴 상품이 없습니다.</p>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="//unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'order/js/comma_mixin.js' %}"></script>
    <script src="{% static 'cart/js/cart.js' %}" id="cart-js" 
		add-cart-url="{% url 'cart:add_cart' %}" cart-list-url="{% url 'cart:cart_list' %}"></script>
    <script src="{% static 'order/js/quantity_select.js' %}"></script>
    <script>
        const cart = new Cart();
        const quantitySelecter = new QuantitySelecter(document.querySelectorAll('.factor-btn'));
        
        quantitySelecter.quantity_select(true);
    </script>
{% endblock %}