<nav class="d-flex">
	<a href="/">Home</a>

	<div class="d-flex">
		{% for category in navbar_categorys %}
			<div class="px-3">
				<p>{{ category }}</p>
				{% for menu in category.categorydetail_category.all %}
					<a href="{% url 'shop:category_list' category.slug menu.slug %}">{{ menu }}</a>
				{% endfor %}
			</div>
		{% endfor %}
	</div>

	<div>
		{% if user.is_authenticated %}
			<a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
			<a href="{% url 'profile' %}">Profile</a>
		{% else %}
			<a href="{% url 'login' %}?next={{ request.path }}">Login</a>
		{% endif %}
	</div>
</nav>