<form action="" method="post">
	{% csrf_token %}
	{% if form.errors %}
		{% for error in form.non_field_errors %}
			<div class="invalid-feedback text-center pb-3 d-block">
				{{ error }}
			</div>
		{% endfor %}
	{% endif %}

	{% if not user.is_authenticated %}
		<div class="form-group row mb-3">
			<label for="id_username" class="col-4 col-form-label fw-bolder">
				{{ form.username.label }}
			</label>
			<div class="col-8">
				{{ form.username }}
				<div class="invalid-feedback d-block">
					{{ form.username.errors }}
				</div>
				{% if form.username.help_text %}
					<small class="form-text text-muted">
						{{ form.username.help_text }}
					</small>
				{% endif %}
			</div>
		</div>
	{% else %}
		<div class="form-group row mb-3">
			<label for="id_username" class="col-4 col-form-label fw-bolder">
				아이디
			</label>
			<div class="col-8">
				<input type="text" value="{{ user.username }}"class="form-control" disabled="True">
			</div>
		</div>
	{% endif %}

	{% if form.password1 %}
		<div class="form-group row mb-3">
			<label for="id_password1" class="col-4 col-form-label fw-bolder">
				{{ form.password1.label }}
			</label>
			<div class="col-8">
				{{ form.password1 }}
				<div class="invalid-feedback d-block">
					{{ form.password1.errors }}
				</div>
				{% if form.password1.help_text %}
					<small class="form-text text-muted">
						{{ form.password1.help_text }}
					</small>
				{% endif %}
			</div>
		</div>
	{% endif %}

	{% if form.password2 %}
		<div class="form-group row mb-3">
			<label for="id_password2" class="col-4 col-form-label fw-bolder">
				{{ form.password2.label }}
			</label>
			<div class="col-8">
				{{ form.password2 }}
				<div class="invalid-feedback d-block">
					{{ form.password2.errors }}
				</div>
				{% if form.password2.help_text %}
					<small class="form-text text-muted">
						{{ form.password2.help_text }}
					</small>
				{% endif %}
			</div>
		</div>
	{% endif %}

	<div class="form-group row mb-3">
		<label for="" class="col-4 col-form-label fw-bolder">
			이름
		</label>
		<div class="col-8 d-flex">
			<div class="col-6 pe-1">
				{{ form.last_name }}
				<div class="invalid-feedback d-block">
					{{ form.last_name.errors }}
				</div>
			</div>
			<div class="col-6 ps-1">
				{{ form.first_name }}
				<div class="invalid-feedback d-block">
					{{ form.first_name.errors }}
				</div>
			</div>
		</div>
	</div>

	<div class="form-group row mb-3">
		<label for="id_gender" class="col-4 col-form-label fw-bolder">
			{{ form.gender.label }}
		</label>
		<div class="col-8">
			{{ form.gender }}
			<div class="invalid-feedback d-block">
				{{ form.gender.errors }}
			</div>
			{% if form.gender.help_text %}
				<small class="form-text text-muted">
					{{ form.gender.help_text }}
				</small>
			{% endif %}
		</div>
	</div>

	<div class="form-group row mb-3">
		<label for="id_email" class="col-4 col-form-label fw-bolder">
			{{ form.email.label }}
		</label>
		<div class="col-8">
			{{ form.email }}
			<div class="invalid-feedback d-block">
				{{ form.email.errors }}
			</div>
			{% if form.email.help_text %}
				<small class="form-text text-muted">
					{{ form.email.help_text }}
				</small>
			{% endif %}
		</div>
	</div>

	<div class="form-group row mb-3">
		<label for="id_phone" class="col-4 col-form-label fw-bolder">
			{{ form.phone.label }}
		</label>
		<div class="col-8">
			{{ form.phone }}
			<div class="invalid-feedback d-block">
				{{ form.phone.errors }}
			</div>
			{% if form.phone.help_text %}
				<small class="form-text text-muted">
					{{ form.phone.help_text }}
				</small>
			{% endif %}
		</div>
	</div>

	<div class="form-group row mb-3">
		<label for="id_postal_code" class="col-4 col-form-label fw-bolder">
			{{ form.postal_code.label }}
		</label>
		<div class="col-8 row">
			<div class="col-10">
				{{ form.postal_code }}
				<div class="invalid-feedback d-block">
					{{ form.postal_code.errors }}
				</div>
				{% if form.postal_code.help_text %}
					<small class="form-text text-muted">
						{{ form.postal_code.help_text }}
					</small>
				{% endif %}
			</div>
			<div class="col-2">
				<button type="button" id="search_postcode">우편번호 찾기</button>
			</div>
		</div>
	</div>

	<div class="form-group row mb-3">
		<label for="id_address" class="col-4 col-form-label fw-bolder">
			{{ form.address.label }}
		</label>
		<div class="col-8">
			{{ form.address }}
			<div class="invalid-feedback d-block">
				{{ form.address.errors }}
			</div>
			{% if form.address.help_text %}
				<small class="form-text text-muted">
					{{ form.address.help_text }}
				</small>
			{% endif %}
		</div>
	</div>

	<div class="form-group row mb-3">
		<label for="id_detail_address" class="col-4 col-form-label fw-bolder">
			{{ form.detail_address.label }}
		</label>
		<div class="col-8">
			{{ form.detail_address }}
			<div class="invalid-feedback d-block">
				{{ form.detail_address.errors }}
			</div>
			{% if form.detail_address.help_text %}
				<small class="form-text text-muted">
					{{ form.detail_address.help_text }}
				</small>
			{% endif %}
		</div>
	</div>

	<div class="d-grid {{ class_name }} border-top mt-5 pt-5">
		<input type="submit" value="{{ submit_value }}"
			class="btn btn-block btn-dark">
	</div>
</form>